# dts.yaml - A configuration file for the data transfer service. See README.md
# for details.

# service parameters
service:
  name: dev                  # descriptive name for config (e.g. dev, prod)
  port: 8080                 # port on which the service listenѕ
  max_connections: 100       # maximum number of incoming HTTP connections
  max_payload_size: 100      # limit (if any) on DTS payload size (gigabytes)
  poll_interval:   60000     # interval at which DTS checks transfer statuses (ms)
  endpoint: globus-local     # name of endpoint used for manifest generation
  data_dir: /path/to/dir     # directory DTS uses for internal data storage
  manifest_dir: /path/to/dir # directory DTS uses for writing transfer manifests
  delete_after: 604800       # period after which info about completed transfers
                             # is deleted (seconds)
  debug: true                # set to enable debug-level logging and other tools

credentials:
  globus:
    id: <credential ID (username, UUID, etc)>
    secret: <secret/password>

endpoints: # file transfer endpoints
  globus-local:
    name: name-of-endpoint                   # usually Globus display name
    id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx # Unique globus endpoint ID
    provider: globus                         # endpoint provider (globus, ???)
    credential: globus
  globus-jdp:
    name: name-of-endpoint                   # usually Globus display name
    id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx # Unique globus endpoint ID
    provider: globus                         # endpoint provider (globus, ???)
    credential: globus
  globus-kbase:
    name: name-of-endpoint                   # usually Globus display name
    id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx # Unique globus endpoint ID
    provider: globus                         # endpoint provider (globus, ???)
    credential: globus

databases: # databases between which files can be transferred
  jdp:                                   # JGI data portal configuration
    name: JGI Data Portal                # descriptive name
    organization: Joint Genome Institute # Descriptive organization name
    endpoint: globus-jdp                 # name of associated endpoint
  kbase:                                 # KBase configuration
    name: KBase Workspace Service (KSS)  # descriptive name
    organization: KBase                  # descriptive organization name
    endpoint: globus-kbase               # name of associated endpoint
