---
version: 2
interactions:
    - id: 0
      request:
        host: jamo-dev.jgi.doe.gov
        body: '{"query":"select _id, file_name, file_path, metadata.file_format, file_size, md5_sum where _id in ( 57f9e03f7ded5e3135bc069e, 57f9d2b57ded5e3135bc0612, 57f9bcb77ded5e3135bc05a5, 584486367ded5e2d305c9a76, 582511047ded5e2d305af605, 582511047ded5e2d305af606, 57f7320c7ded5e3135bbd14d, 584486377ded5e2d305c9a77, 584486397ded5e2d305c9a7a, 582511037ded5e2d305af603 )","requestor":"dts@kbase.us"}'
        form: {}
        headers:
            Content-Type:
                - application/json; charset=utf-8
        url: https://jamo-dev.jgi.doe.gov/api/metadata/pagequery
        method: POST
      response:
        body: '{"start": 1, "end": 10, "cursor_id": "L5ZHYRZFNS", "record_count": 10, "records": [{"_id": "57f7320c7ded5e3135bbd14d", "file_name": "10914.1.183618.CTCTCTA-TACTCCT.fastq.gz", "file_size": 2113188802, "file_path": "/global/dna/dm_archive/sdm/illumina/01/09/14", "metadata": {}}, {"_id": "57f9bcb77ded5e3135bc05a5", "file_name": "10927.1.183804.CTCTCTA-AGGCTTA.fastq.gz", "file_size": 1966895000, "file_path": "/global/dna/dm_archive/sdm/illumina/01/09/27", "metadata": {}}, {"_id": "57f9d2b57ded5e3135bc0612", "file_name": "10927.1.183804.CTCTCTA-AGGCTTA.filter-SAG.fastq.gz", "file_size": 2225019092, "file_path": "/global/dna/dm_archive/rqc/filtered_seq_unit/00/01/09/27", "metadata": {}}, {"_id": "57f9e03f7ded5e3135bc069e", "file_name": "10927.1.183804.CTCTCTA-AGGCTTA.QC.pdf", "metadata": {}, "file_size": 227745, "file_path": "/global/dna/dm_archive/rqc"}, {"_id": "582511037ded5e2d305af603", "file_name": "sag_decontam_output_clean.fna", "file_size": 405150, "file_path": "/global/dna/dm_archive/qaqc/analyses/AUTO-33725", "metadata": {"file_format": "fasta"}}, {"_id": "582511047ded5e2d305af605", "file_name": "sag-BHAPS-screen.txt", "file_size": 4080, "file_path": "/global/dna/dm_archive/qaqc/analyses/AUTO-33725", "metadata": {"file_format": "txt"}}, {"_id": "582511047ded5e2d305af606", "file_name": "10914.1.183618.CTCTCTA-TACTCCT.filter-SAG.norm.subsample.fastq.gz", "file_size": 73043045, "file_path": "/global/dna/dm_archive/qaqc/analyses/AUTO-33725", "metadata": {"file_format": "fastq"}}, {"_id": "584486367ded5e2d305c9a76", "file_name": "101345.assembled.faa", "file_size": 131265, "file_path": "/global/dna/dm_archive/img/submissions/101345", "metadata": {}}, {"_id": "584486377ded5e2d305c9a77", "file_name": "101345.assembled.names_map", "file_size": 1470, "file_path": "/global/dna/dm_archive/img/submissions/101345", "metadata": {}}, {"_id": "584486397ded5e2d305c9a7a", "file_name": "101345.pipeline_version.info", "file_size": 673, "file_path": "/global/dna/dm_archive/img/submissions/101345", "metadata": {}}], "fields": ["_id", "file_name", "file_path", "metadata.file_format", "file_size", "md5_sum"], "timeout": 540}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
        status: 200 OK
        code: 200
        duration: 94.148234ms
